*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
}
.platform{
    border: 1px solid black;
    border-radius: 8px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:35vw;
    margin-left: auto;
    margin-right: auto;
}

.scoreboard{
    display: flex;
    justify-content: space-between;
}

.uscore, .cscore{
    text-align: center;
}